/* KULANG PA NG MEDIA QUERY */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #c1ebe2;
  padding: 5% 5rem;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 700px; */
  /* width: 900px; */
}

/* FIRST COLUMN */

.firstcol {
  background-color: #2f5a62;
  height: 500px;
  width: 800px;
  display: grid;
  align-content: center;
  box-shadow: 0 11px 24px #669591;
}

.logopic {
  width: 100px;
}

.par {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

/* SECOND COLUMN */

.secondcol {
  background-color: white;
  height: 500px;
  width: 800px;
  display: grid;
  align-content: center;
  box-shadow: 0 11px 24px #669591;

}

.userlogtext{
  color: #2f5a62;
  font-weight: bold;
  position: relative;
  bottom: 2.5rem;
}

.buttonn{
  position: relative;
  top: 2.5rem;

}

.btn{
  background-color: #2f5a62;
  color: white;
  width: 50%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  text-transform: uppercase;

}

.btn:hover{
  background-color: #c1ebe2;
  color: #2f5a62;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
}

.form-control{
  width: 50%;
}

.mobnum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelotp {
    position: relative;
    left: -3.1rem;
    font-size: 13px;
    bottom: 2px;
}

.usertypes{
  display: flex;
  justify-content: center;
  position: relative;
  top: 5.5rem;
}

a{
  text-decoration: none;
  color: #c1ebe2;
  font-family: 'Roboto', sans-serif !important;
  margin: 0 10px;
  font-size: 13px;

}

input{
  position: relative;
  bottom: 2rem;
  margin-top: 2rem;
}

a:hover{
  text-decoration: none;
  color: #2f5a62;
}

.retailer-type{
  color: #2f5a62;
}
